.wrap-disperse {
  max-width: 80em;
  padding: 2em;
}

.line-numbered-textbox {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(18, 17, 17);
  border-radius: 40px;
}

.line-numbers {
  flex: 0 0 30px;
  padding: 10px;
  background-color: rgb(18, 17, 17);
  border-right: 1px solid #ccc;
  user-select: none;
}

.line-number {
  /* margin-bottom: 1.5px; */
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

.text-box {
  flex: 1;
  padding: 10px;
  border: none;
  resize: none;
}

button {
  background-color: #0074d9;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 30px !important;
  margin: 10px 10px;
  width: 100%;
}

.btn-ombre {
  background: linear-gradient(to right, #eb33ff, #7a49a5, #eb33ff);
  color: white;
}

.error-message {
  color: #ff4136;
  margin-top: 10px;
  padding: 1em;
  border: 1px solid #ff4136;
}

.instruction-txt {
  color: #888 !important;
}

h5 {
  margin: 20px 0px;
}

.duplicate-cta {
  flex-direction: row;
  color: #ff4136;
  font-size: medium;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

textarea {
  font-size: 16px;
  line-height: 1.55;
  background-color: rgb(18, 17, 17);
  min-height: 300px;
  color: white;
  border-radius: 0 40px 40px 0;
}

.error-cta {
  margin: 10px;
}
